importFrom(ggplot2, scale_fill_gradientn)
importFrom(ggplot2, scale_color_gradientn)
importFrom(ggplot2, scale_fill_manual)
importFrom(ggplot2, scale_color_manual)
importFrom(grDevices, convertColor)
importFrom(grDevices, rgb)
importFrom(graphics, par)
importFrom(graphics, plot.new)
importFrom(graphics, plot.window)
importFrom(graphics, rect)
importFrom(graphics, text)
importFrom(graphics, title)
importFrom(stats, approx)
importFrom(utils, read.csv)
export(duckmap)
export(duckmap_summary)
export(duckmap_info)
export(scale_fill_duckmap)
export(scale_color_duckmap)
export(scale_colour_duckmap)
